
[tools_calibrate]
pin: ^!PF5
travel_speed: 20
spread: 7
lower_z: 1.0
# The speed (in mm/sec) to move tools down onto the probe
speed: 1.5
# The speed (in mm/sec) to retract between probes
lift_speed: 4
final_lift_z: 3
samples:5
samples_result: median # median, average
sample_retract_dist:1
samples_tolerance:0.02
samples_tolerance_retries:2
# Decrease -> higher nozzle
trigger_to_bottom_z: -0.00

[gcode_macro _CALIBRATE_MOVE_OVER_PROBE]
gcode:
    BED_MESH_CLEAR
    G0 Z60 F10000
    G0 X229 Y2.5 F10000

[gcode_macro CALIBRATE_ALL_OFFSETS]
gcode:
    {% set tools = printer.toolchanger.tool_numbers %}
    {% set names = printer.toolchanger.tool_names %}
    # Tool 0
    SELECT_TOOL T={tools[0]}  RESTORE_AXIS=XYZ
    STOP_TOOL_PROBE_CRASH_DETECTION
    _CLEAN_NOZZLE TEMP=220
    _CALIBRATE_MOVE_OVER_PROBE    
    M104 S150
    TEMPERATURE_WAIT SENSOR='{printer.toolhead.extruder}' MINIMUM=150
    TOOL_LOCATE_SENSOR
    TOOL_CALIBRATE_PROBE_OFFSET PROBE="tool_probe T0"
    M104 S0
    {% for tool in tools[1:] %}
        SELECT_TOOL T={tool}  RESTORE_AXIS=Z
        STOP_TOOL_PROBE_CRASH_DETECTION
        _CLEAN_NOZZLE TEMP=220
        M104 S150 T{tool}
        _CALIBRATE_MOVE_OVER_PROBE
        TEMPERATURE_WAIT SENSOR='{printer[names[loop.index]].extruder}' MINIMUM=150
        TOOL_CALIBRATE_TOOL_OFFSET
        TOOL_CALIBRATE_SAVE_TOOL_OFFSET SECTION="{names[loop.index]}" ATTRIBUTE=gcode_x_offset VALUE="{% raw %}{x:0.6f}{% endraw %}"
        TOOL_CALIBRATE_SAVE_TOOL_OFFSET SECTION="{names[loop.index]}" ATTRIBUTE=gcode_y_offset VALUE="{% raw %}{y:0.6f}{% endraw %}"
        TOOL_CALIBRATE_SAVE_TOOL_OFFSET SECTION="{names[loop.index]}" ATTRIBUTE=gcode_z_offset VALUE="{% raw %}{z:0.6f}{% endraw %}"
        TOOL_CALIBRATE_PROBE_OFFSET PROBE="tool_probe T{tool}"
        M104 S0
    {% endfor %}
    
    # Finish up
    SELECT_TOOL T={tools[0]} RESTORE_AXIS=XYZ


[gcode_macro CALIBRATE_ONE_OFFSET]
gcode:
    {% set tools = printer.toolchanger.tool_numbers %}
    {% set names = printer.toolchanger.tool_names %}
    # Tool 0
    SELECT_TOOL T=0  RESTORE_AXIS=XYZ
    STOP_TOOL_PROBE_CRASH_DETECTION
    _CLEAN_NOZZLE TEMP=220
    _CALIBRATE_MOVE_OVER_PROBE    
    M104 S150
    TOOL_LOCATE_SENSOR
    M104 S0
    SELECT_TOOL T={params.TOOL}  RESTORE_AXIS=Z
    STOP_TOOL_PROBE_CRASH_DETECTION
    _CLEAN_NOZZLE TEMP=220
    M104 S150 T{params.TOOL}
    _CALIBRATE_MOVE_OVER_PROBE    
    TOOL_CALIBRATE_TOOL_OFFSET
    TOOL_CALIBRATE_PROBE_OFFSET PROBE="tool_probe T{params.TOOL}"
    M104 S0
    
    # Finish up
    SELECT_TOOL T=0 RESTORE_AXIS=XYZ


[gcode_macro CALIBRATE_NOZZLE_PROBE_OFFSET]
gcode:
    STOP_TOOL_PROBE_CRASH_DETECTION
    _CLEAN_NOZZLE TEMP=220
    _CALIBRATE_MOVE_OVER_PROBE
    M104 S150
    TEMPERATURE_WAIT SENSOR='{printer.toolhead.extruder}' MINIMUM=150
    TOOL_LOCATE_SENSOR
    TOOL_CALIBRATE_PROBE_OFFSET PROBE="tool_probe T0"
    M104 S0
