[include fluidd.cfg]
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[respond]

[pause_resume]

[save_variables]
filename:  ~/variables.cfg

[gcode_arcs]
resolution: 0.2

[rounded_path]
resolution: 0.2
replace_g0: True

[include mcu.cfg]
[include KAMP/Adaptive_Meshing.cfg]
[include KAMP/Line_Purge.cfg]] 

[include leds.cfg]

[include tool_detection.cfg]
[include toolchanger.cfg]

[include T0-burner-dragon.cfg]
[include T1-mini-revo.cfg]
[include T2-mini-revo.cfg]
[include T3-burner-dragon-large-gears.cfg]
[include T4-dragon-orbiter-revo.cfg]
[include T5-dragon-lgx-rapido.cfg]


[include homing.cfg]
[include calibrate-offsets.cfg]
[include macros.cfg]

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 5000
max_z_velocity: 250
max_z_accel: 1000

[force_move]
enable_force_move: True


[quad_gantry_level]
##	Gantry Corners for 350mm Build
gantry_corners:
	-70,-10
	420,410
#	Probe points
points:
	50,50
	50,300
	300,300
	300,50
#   Probe points
speed: 350
horizontal_move_z: 10
max_adjust: 20

[bed_mesh]
speed: 150
horizontal_move_z: 10
mesh_min: 20, 20
mesh_max: 320, 320
probe_count: 3,3

[exclude_object]

[resonance_tester]
 accel_chip: adxl345
 probe_points:
     175, 175, 20 

[input_shaper]
shaper_freq_x: 65.8
shaper_type_x: zv
damping_ratio_x: 0.01
shaper_freq_y: 47.4
shaper_type_y: mzv
damping_ratio_y: 0.01

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 175.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 300.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 175.0  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 300.0  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
gcode:

