# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu e2]
canbus_uuid: bafd9b10a1b4


[extruder2]
step_pin: e2:PD0
dir_pin: !e2:PD1
enable_pin: !e2:PD2
microsteps: 16
rotation_distance: 22.23
gear_ratio: 50:10                                                   # For Mini Afterburner
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: e2:PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: e2:PA3
control: pid
pid_Kp=32.340 
pid_Ki=4.312 
pid_Kd=60.639
min_temp: 0
max_temp: 300
min_extrude_temp: 180
pressure_advance: 0.035                                               # See tuning pressure advance doc
pressure_advance_smooth_time: 0.040


[tmc2209 extruder]
uart_pin: e2:PA15
run_current: 0.650
stealthchop_threshold: 999999

[fan_generic e2_partfan]
pin: e2:PA0

[heater_fan e2_hotend_fan]
pin: e2:PA1
heater: extruder2
heater_temp: 50.0


# [adxl345]
# cs_pin: e2:PB12
# spi_software_sclk_pin: e2:PB10
# spi_software_mosi_pin: e2:PB11
# spi_software_miso_pin: e2:PB2
# axes_map: z,-y,x


[tool_probe t2]
pin: !e2:PB6
tool: 2
z_offset: -1.39
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.01
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}


