
[include tools_macros.cfg]

[ktcclog]  # Log_level & logfile_level can be set to one of (0 = essential, 1 = info, 2 = debug, 3 = trace)
log_level: 1
logfile_level: 1

[toollock]
tool_lock_gcode:
tool_unlock_gcode:
init_printer_to_last_tool: False


[delayed_gcode check_active_tool_on_startup]
initial_duration: 1
gcode:
    RESPOND TYPE=echo MSG='Updating active tool from probe status.'
    DETECT_ACTIVE_TOOL_PROBE
    SAVE_CURRENT_TOOL T={printer.tool_probe_endstop.active_tool_number}       
    SET_TOOL_TEMPERATURE ACTV_TMP=0 CHNG_STATE=2

[toolgroup 0]
dropoff_gcode:
  SAVE_GCODE_STATE NAME=toolchange                            # Save GCode state.
  {% if printer.bed_mesh.profile_name %} 
    BED_MESH_PROFILE SAVE=toolchange  
    BED_MESH_CLEAR
  {% endif %}
  SET_GCODE_OFFSET X=0 Y=0 Z=0                                 # Set XY offset to 0 so we park the tool right.
  {% if myself.zone[0] == "0" %} 
    T_DROPOFF_APPROACH X={myself.park[0]} Y={myself.park[1]} Z={myself.park[2]} YS={myself.zone[1]}
  {% elif myself.zone[0] == "1" %} 
    T_DROPOFF_MINI_APPROACH X={myself.park[0]} Y={myself.park[1]} Z={myself.park[2]} YS={myself.zone[1]}
  {% else %}
    RESPOND TYPE=error MSG='Unknown tool mode {myself.zone[0]}'
    PAUSE
  {% endif %} 
  T_DROPOFF_DO X={myself.park[0]} Y={myself.park[1]} Z={myself.park[2]} YS=15

pickup_gcode: 
  M568 P{myself.name} A2                                               # Put tool heater in Active mode  
  T_PICKUP_APPROACH X={myself.park[0]} Y={myself.park[1]} Z={myself.park[2]} YS=15
  {% if myself.zone[0] == "0" %} 
    T_PICKUP_DO X={myself.park[0]} Y={myself.park[1]} Z={myself.park[2]} YS={myself.zone[1]}    
  {% elif myself.zone[0] == "1" %} 
    T_PICKUP_MINI_DO X={myself.park[0]} Y={myself.park[1]} Z={myself.park[2]} YS={myself.zone[1]}    
  {% else %}
    RESPOND TYPE=error MSG='Unknown tool mode {myself.zone[0]}'
    PAUSE
  {% endif %} 
  M400                                                                 # Wait for current moves to finish.
  RESTORE_GCODE_STATE NAME=toolchange MOVE=0                          # Restore GCODE state. Was saved at thebegining of SUB_TOOL_PICKUP_START. Move fast to last location.

  {% if 'toolchange' in printer.bed_mesh.profiles %}
    BED_MESH_PROFILE LOAD=toolchange
  {% endif %}
  SET_GCODE_OFFSET X={myself.offset[0]} Y={myself.offset[1]} Z={myself.offset[2]} MOVE=0   

[tool 0]
tool_group: 0
extruder: extruder
fan: e0_partfan
# Pickup position: aligned XY, Z- the carriage 1 mm below the bottom of the rail
park: 344.80, -8.5, 254.40
# X:0=SB, 1=Mini, Y = safe distance from dock, Z = unused
zone: 0, 80.0, 0.0
# Offset relative to other tools. Tool 0 generally should have 0 offset, but not required.
offset: 0,0,0

[tool 1]
tool_group: 0
extruder: extruder1
fan: e1_partfan
# Pickup position: aligned XY, Z- the carriage 1 mm below the bottom of the rail
park: 110, -9, 255.5
# X:0=SB, 1=Mini, Y = safe distance from dock, Z = unused
zone: 0, 80.0, 286.6
offset: -0.155208,0.963542,-0.168333

[tool 2]
tool_group: 0
extruder: extruder2
fan: e2_partfan
# Pickup position: aligned XY, Z- the carriage 1 mm below the bottom of the rail
park: 204, -8.2, 258.5
# X:0=SB, 1=Mini, Y = safe distance from dock, Z = unused
zone: 1, 80.0, 286.6
offset: -0.155208,0.963542,-0.168333


[tools_calibrate]
pin: ^!PF5
travel_speed: 20
spread: 7
lower_z: 1.0
# The speed (in mm/sec) to move tools down onto the probe
speed: 2
# The speed (in mm/sec) to retract between probes
lift_speed: 4
samples:3
sample_retract_dist:2
samples_tolerance:0.1
samples_tolerance_retries:2
samples_result:average
